{% extends 'base.html' %}
{% load bootstrap i18n static %}

{% block title %}{% trans 'Sustance List' %}{% endblock %}


{% block content %}
  <div class="row" >
  <ul  class="list-group">
	  {% if object_list %}
	    <li class="row list-group-item">
	      {% for sustance in object_list %}
	        <div class="col-md-10">
	           <a href="{% url 'sustance-detail' sustance.pk %}">  {{ sustance.marketing_name }} </a>
	        </div>
	      {% endfor %}
	    </li>
	  {% else %}
	    <p class="no-posts">Nothing to see yet! Come back soon and check for updates.</p>
	  {% endif %}
  </ul>	  
  </div>	  
 <a href="{% url 'sustance_create' %}">Create a new Sustance.</a>
{% endblock %}



